<div id="<%= carousel_id %>" style="display: none;" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
  </div>

  <!-- Controls -->
  <div class='carousel-controls'>
  </div>
</div>