<div class="modal fade" id="difficulty_modal" tabindex="-1" role="dialog" aria-labelledby="difficulty_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="login_lightbox_label">Select Difficulty</h4>
        <div class="modal-body">
          <input id="ex6" type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="3">
          <span id="ex6CurrentSliderValLabel">Current Slider Value: <span id="ex6SliderVal">3</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
