<div id="searchform" class="row">
  <div class="row">
    <h1 class='text-center '>What would you like to read?</h1>
    <input type="text" id="searchfield" class="form-control"/>
  </div>

  <%= render partial: "book_carousel", locals: { carousel_id: "search_results_carousel" } %>
</div>


