<!-- CR no inline styles -->
<div id="speedtest" style="display:none;">
  <header>
    <h3 class="text-center">Press the "start" button and begin reading the following paragraph, press the "done" button as soon as you're finished.</h3>
    <div id="buttons">
      <button id="start" class="btn btn-outline btn-lg btn-block">Start</button>
      <button id="done" class="btn btn-outline btn-lg btn-block" style="display:none;">I'm Done!</button>
    </div>
  </header>

  <p id="testparagraph" style="display:none;" >
  </p>

</div>
