<div class="text-center" id="resultsarea" style="display: none;">

  <%= render "charts/bestsellers" %>
</div>
  <canvas style="display:none;" id="WPMComparisonChart" width="200" height="200"></canvas>