<div id="test_results_carousel" class="carousel slide" data-ride="carousel"  data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target='#test_results_carousel' data-slide-to='0' class="active"></li>
    <li data-target='#test_results_carousel' data-slide-to='1'></li>
    <li data-target='#test_results_carousel' data-slide-to='2'></li>
    <li data-target='#test_results_carousel' data-slide-to='3'></li>
    <li data-target='#test_results_carousel' data-slide-to='4'></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class='item active'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div id="testresults">
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div id="randombookdisplay">
            <h3>See how long it would take you to read other popular titles:</h3>
            <div id="random_books_list"></div>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div id="bestsellers_chart_slide">
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div id="series_chart_slide">
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div id="wpm_comparison_chart_slide">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <div class='carousel-controls'>
    <a class='left carousel-control' href='#test_results_carousel' role='button' data-slide='prev'>
      <span class='glyphicon glyphicon-chevron-left'></span>
    </a>
    <a class='right carousel-control' href='#test_results_carousel' role='button' data-slide='next'>
      <span class='glyphicon glyphicon-chevron-right'></span>
    </a>
  </div>
</div>
