<h1 class="text-left">ReddyReader</h1>

<div class="text-center" id="resultsarea">
</div>


<div id="searchform" class="row">
  <div class="row">
    <h1 class='text-center '>What would you like to read?</h1>
    <input type="text" id="searchfield" class="form-control"/>
  </div>

  <div id="results" class="row">

  </div>
</div>

<div id="speedtest" style="display:none;">
  <header>
  <h3 class="text-center">Press the "start" button and begin reading the following paragraph, press the "done" button as soon as you're finished.</h3>
  <div id="buttons"> 
    <button id="start" class="btn btn-outline btn-lg btn-block">Start</button>
    <button id="done" class="btn btn-outline btn-lg btn-block" style="display:none;">I'm Done!</button>
  </div>
  </header>

    <p id="testparagraph" style="display:none;" >
      Marie Curie was one of the most accomplished scientists in history. Together with her husband, Pierre, she discovered radium, an element widely used for treating cancer, and studied uranium and other radioactive substances. Pierre and Marie's amicable collaboration later helped to unlock the secrets of the atom.

      Marie was born in 1867 in Warsaw, Poland, where her father was a professor of physics. At an early age, she displayed a brilliant mind and a blithe personality. Her great exuberance for learning prompted her to continue with her studies after high school. She became disgruntled, however, when she learned that the university in Warsaw was closed to women. Determined to receive a higher education, she defiantly left Poland and in 1891 entered the Sorbonne, a French university, where she earned her master's degree and doctorate in physics.
    </p>

</div>

