<p>Which book were you referring to?</p>
<% @books.each do |book| %>
  <div class="book">
    <img src="<%= book.image_url %>">
    <p><%= "#{book.title}" + ": " + "#{book.author}" + ": " + "#{book.page_count}" %></p>
  </div>
<% end %>
