<p>Which book were you referring to?</p>
<div class="book">
  <% @search_results.each do |book| %>
    <img src="<%= book.image_url %>">
    <%= "#{book.title}" + ": " + "#{book.author}" + ": " + "#{book.page_count}" %>
  <% end %>
</div>
