<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<h1 id="logo" class="text-left">ReddyReader</h1>
<% if current_user  %>
  <% if current_user.recent_wpm %>
    <button class="btn btn-primary">Retest WPM</button>
  <% end %>
  <%= button_to "Logout", "/logout", method: :get, class: "btn btn-primary" %>
  <button class="btn btn-primary" data-toggle="modal" data-target="#profile_lightbox">
    My Profile
  </button>
<% else %>
  <button id="modal_login" class="btn btn-primary" data-toggle="modal" data-target="#login_lightbox">
    Login
  </button>
  <button id="modal_register" class="btn btn-primary" data-toggle="modal" data-target="#register_lightbox">
    Register
  </button>
<% end %>
