<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<h1 id="logo" class="text-left">ReddyReader</h1>
<% p current_user %>
<% if current_user && current_user.wpms.first %>
  <h3>Your WPM: <%= recent_wpm %></h3>
  <a href="/speed_test">Retest?</a>
  <a href="/logout">Logout</a>
<% else %>
  <a id="modal_register" href="#">Register</a>
  <a id="modal_login" href="#">Login</a>
<% end %>
