<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<h1 id="logo" class="text-left">ReddyReader</h1>
<% if current_user %>
  <% if current_user.wpms.first %>
    <h3>Your WPM: <%= recent_wpm %></h3>
    <%= button_to "Retest WPM", "/speed_test", method: :get, class: "btn btn-primary" %>
  <% end %>
  <%= button_to "Logout", "/logout", method: :get, class: "btn btn-primary" %>
<% else %>
  <button class="btn btn-primary" data-toggle="modal" data-target="#login_lightbox">
    Login
  </button>
  <button class="btn btn-primary" data-toggle="modal" data-target="#register_lightbox">
    Register
  </button>
<% end %>
