<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<h1 id="logo" class="text-left">ReddyReader</h1>
<% if current_user && current_user.wpms.first %>
  <h3>Your WPM: <%= recent_wpm %></h3>
  <a href="/speed_test">Retest?</a>
  <a href="/logout">Logout</a>
<% else %>
  <a id="modal_register" href="#">Register</a>
  <a id="modal_login" href="#">Login</a>
<% end %>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login_lightbox">
  Login
</button>
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register_lightbox">
  Register
</button>
