<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<nav class="navbar">
<h1 id="logo" class="text-left">ReddyReader</h1>
    <% if current_user  %>
      <a href="/logout"><button type="button" class="btn btn-outline">Logout</button></a>
      <button class="btn btn-outline" data-toggle="modal" data-target="#profile_lightbox">
        My Profile
      </button>
   
    <% else %>
      <button id="modal_login" class="btn btn-outline" data-toggle="modal" data-target="#login_lightbox">
        Login
      </button>
      <button id="modal_register" class="btn btn-outline" data-toggle="modal" data-target="#register_lightbox">
        Register
      </button>
    <% end %>
</nav>

