#diffbuttons button {
  margin: 0px 10px;
}

#difficulty_images img {
  display: none;
  height: 200px;
}

.difficulty_content {
  display: none;
  p {
    text-align: left;
    font-size: 1.3em;
  }
}


