@font-face {
    font-family: 'Glyphicons Halflings';
    src: font-url('glyphicons-halflings-regular.svg');
}

body {
  font-family: $font;
  background-color: $background;
  color: $text_and_outlines;
  background-image: $texture;
}

#transparent{
  height: 100px;
  width: 100%;
  background-color: transparentize(#000000, 0.5);
  position: fixed;

  margin-bottom: 3em;

  a,button{
    z-index: 2;
  }
}

nav{
  padding: 2em 4em 4em 4em;
  width: 100%;
  z-index: 2;

  button{
    float:right;
    margin: 0 2px 0 2px;
  }
}

.btn-outline {
  background-color: rgba(0, 0, 0, 0);
  border-color: $text_and_outlines;
  color: $text_and_outlines;

  &:hover{
    color: $importanttext;
    border-color: $importanttext;
  }
}



input {
  color: #000;
}


#logo {
  cursor: pointer;
  display: inline;
  color: #FFFFFF;
}

#logo:hover {
  color: $importanttext;
}

.modal-content{
  color: $text_and_outlines;
  background-color: $background;
  background-image: $texture;
  padding-bottom: 1em;

  .modal-header{
    background-color: transparentize(#000000, 0.5);
  }

  .bookinfo{
    height: 120px;
    line-height: .9em;
  }

  .img-thumbnail{
    height: 100px;
  }

  #wpm{
    font-style: bold;
  }
}

#randombookdisplay{
  margin: 0 auto 0 auto;

  .img-thumbnail{
    height: 138px;
  }

  h3{
    margin-bottom: 2em;
  }
  h4{
    color: $importanttext;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

small.help-block {
  font-size: 1.2em !important;
  color: #e74c3c !important;
}

.navbar button {
  margin-left: 10px;
}
