@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

@font-face {
    font-family: 'Glyphicons Halflings';
    src: font-url('glyphicons-halflings-regular.svg');
}

body {
  background-color: #004A5E;
  color: #FFE4CA;
}
