@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

@font-face {
    font-family: 'Glyphicons Halflings';
    src: font-url('glyphicons-halflings-regular.svg');
}

body {
  background-color: $background;
  color: $text_and_outlines;
}

#logo {
  cursor: pointer;
}

#logo:hover {
  color: $importanttext;
}

#randombookdisplay{
  h3{
    margin-bottom: 1em;
  }
  h4{
    color: $importanttext;
  }
}















