@font-face {
    font-family: 'Glyphicons Halflings';
    src: font-url('glyphicons-halflings-regular.svg');
}

nav{
  padding: 2em 0 2em 0;
  margin-bottom: 2em;
  width: 80%;
  position: fixed;
  float: top;
  a{
    color: $text_and_outlines;
  }
 
  button{
    float:right;
    margin: 0 2px 0 2px;
  }
}

.btn-outline {
  background-color: rgba(0, 0, 0, 0);
  border-color: $text_and_outlines;
  color: $text_and_outlines;

  &:hover{
    color: $importanttext;
    border-color: $importanttext;
  }
}



input {
  color: #000;
}

body {
  background-color: $background;
  color: $text_and_outlines;
}

#logo {
  cursor: pointer;
  display: inline;
}

#logo:hover {
  color: $importanttext;
}

#randombookdisplay{
  margin: 0 auto 0 auto;

  .img-thumbnail{
    height: 138px;
  }

  h3{
    margin-bottom: 2em;
  }
  h4{
    color: $importanttext;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

#profile_lightbox{
  color: $background;
  
  .bookinfo{
    line-height: .8em;
  }

  .img-thumbnail{
    height: 100px;
  }

  #wpm{
    font-style: bold;
  }
}
