.carousel-control {
  &.left, &.right {
      background-image: none;
  }
}

.carousel-inner{
  margin-bottom: 5em;
}

.carousel-indicators{
   bottom: -7em;
}

.img-thumbnail{
  margin-bottom: 1em;
  height: 138px;
}

.bookinfo{
  height: 110px;
}
