.carousel-control.left, .carousel-control.right {
    background-image: none
}

#searchform {
  margin-top: 200px;
}

#searchfield {
  color: #ecf0f1;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  text-align: center;
  height: 100px;
  border: none;
  box-shadow: none;
  font-size: 3em;
}
