#buttons{
  margin: 2em auto 1em auto;

  .btn-outline {
    background-color: rgba(0, 0, 0, 0);
    border-color: #FFE4CA;
  }
}

#resultsarea{
  width: 40%;
  margin: 3em auto 3em auto;
  font-size: 22px;
}

#speedtest{
  width: 70%;
  margin: 1em auto 1em auto;
  font-size: 18px;

}