$background: #4e5361;
$text_and_outlines: #d9d2ce;
$importanttext: #f78848;
$font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$texture: url('txture.png');
